body{
	background-color: #EEE;
}

/*Footer*/
body{
  font-family: 'Raleway', sans-serif;
}

footer{
	background-color:#222222;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
	color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}


/*Navigation*/
.navi
{
    margin: 50px;
    padding: 0;
    background-color: #000;
    border-radius: 5px;
    height:50px;
}
.navi li{display: inline-block; -webkit-transition:1s;}
.navi li a
{
    margin: 0;
    display: inline-block;
    padding: 15px 32px 15px 35px !important;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navi li a:hover
{
    margin: 0;
    display: inline-block;
    padding: 15px 32px 15px 35px !important;
    color: #828276;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.li
{
    margin:0;
    padding: 5px;
    -webkit-transition:0.5s;
    width:100px;
    background: black;
}

.navi li:hover:nth-child(1) ~ .li
{margin:0 0 0 5px;}

.navi li:hover:nth-child(2) ~ .li
{margin:0 0 0 134px;}

.navi li:hover:nth-child(3) ~ .li
{margin:0 0 0 290px;}

.navi li:hover:nth-child(4) ~ .li
{margin:0 0 0 455px;}

.navi li:hover:nth-child(5) ~ .li
{margin:0 0 0 595px;}

.navi li:hover:nth-child(6) ~ .li
{margin:0 0 0 730px;}

.navi li:hover:nth-child(7) ~ .li
{margin:0 0 0 890px;}

.navi li:hover:nth-child(8) ~ .li
{margin:0 0 0 1070px;}
